In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
arq = pd.read_csv("Netflix TV Shows and Movies.csv") #faz a leitura do arquivo

1 - Liste os 10 primeiros itens do dataset.

In [6]:
arq.head(10)

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
0,0,tm84618,Taxi Driver,MOVIE,A mentally unstable Vietnam War veteran works ...,1976,R,113,tt0075314,8.3,795222.0
1,1,tm127384,Monty Python and the Holy Grail,MOVIE,"King Arthur, accompanied by his squire, recrui...",1975,PG,91,tt0071853,8.2,530877.0
2,2,tm70993,Life of Brian,MOVIE,"Brian Cohen is an average young Jewish man, bu...",1979,R,94,tt0079470,8.0,392419.0
3,3,tm190788,The Exorcist,MOVIE,12-year-old Regan MacNeil begins to adapt an e...,1973,R,133,tt0070047,8.1,391942.0
4,4,ts22164,Monty Python's Flying Circus,SHOW,A British sketch comedy series with the shows ...,1969,TV-14,30,tt0063929,8.8,72895.0
5,5,tm14873,Dirty Harry,MOVIE,When a madman dubbed 'Scorpio' terrorizes San ...,1971,R,102,tt0066999,7.7,153463.0
6,6,tm185072,My Fair Lady,MOVIE,A snobbish phonetics professor agrees to a wag...,1964,G,170,tt0058385,7.8,94121.0
7,7,tm98978,The Blue Lagoon,MOVIE,Two small children and a ship's cook survive a...,1980,R,104,tt0080453,5.8,69053.0
8,8,tm119281,Bonnie and Clyde,MOVIE,"In the 1930s, bored waitress Bonnie Parker fal...",1967,R,110,tt0061418,7.7,111189.0
9,9,tm67378,The Professionals,MOVIE,An arrogant Texas millionaire hires four adven...,1966,PG-13,117,tt0060862,7.3,16168.0

2 - Liste os últimos 10 itens do dataset.

In [7]:
arq.tail(10)

,index,id,title,type,description,release_year,age_certification,runtime,imdb_id,imdb_score,imdb_votes
5273,5273,tm1097142,My Bride,MOVIE,The story follows a young man and woman who go...,2021,NaN,93,tt14216488,4.9,281.0
5274,5274,tm878575,The Heartbreak Club,MOVIE,"Coping with heartbreak, the shy owner of floun...",2021,NaN,101,tt11841144,6.2,188.0
5275,5275,ts286386,The Big Day,SHOW,"For six engaged couples, happily ever after be...",2021,TV-MA,45,tt13887518,4.6,327.0
5276,5276,tm985215,Princess 'Daya'Reese,MOVIE,Reese is a con artist from Manila who dreams o...,2021,NaN,115,tt13399802,7.2,45.0
5277,5277,tm1004011,Time to Dance,MOVIE,When a ballroom dancerâ€™s shot at a crucial t...,2021,NaN,107,tt8622232,2.2,950.0
5278,5278,tm1040816,Momshies! Your Soul is Mine,MOVIE,Three women with totally different lives accid...,2021,NaN,108,tt14412240,5.8,26.0
5279,5279,tm1014599,Fine Wine,MOVIE,A beautiful love story that can happen between...,2021,NaN,100,tt13857480,6.9,39.0
5280,5280,tm1045018,Clash,MOVIE,A man from Nigeria returns to his family in Ca...,2021,NaN,88,tt14620732,6.5,32.0
5281,5281,tm1098060,Shadow Parties,MOVIE,A family faces destruction in a long-running c...,2021,NaN,116,tt10168094,6.2,9.0
5282,5282,ts271048,Mighty Little Bheem: Kite Festival,SHOW,"With winter behind them, Bheem and his townspe...",2021,NaN,0,tt13711094,8.8,16.0

3 - Qual o filme com o maior imdb_score e qual o filme com o pior imdb_score?

In [9]:
arq.loc[arq['imdb_score'].idxmax()] #localiza o filme com maior nota pelo id max

index                                                              622
id                                                            ts160526
title                                                         Khawatir
type                                                              SHOW
description          A TV show devoted to help young people to be m...
release_year                                                      2005
age_certification                                                TV-14
runtime                                                             20
imdb_id                                                      tt3062514
imdb_score                                                         9.6
imdb_votes                                                      3046.0
Name: 622, dtype: object

In [10]:
arq.loc[arq['imdb_score'].idxmin()] #localiza o filme com menor nota pelo id min

index                                                             1664
id                                                            tm549892
title                                                          Aerials
type                                                             MOVIE
description          Earth is invaded by Aliens from outer space. A...
release_year                                                      2016
age_certification                                                  NaN
runtime                                                             90
imdb_id                                                      tt5314138
imdb_score                                                         1.5
imdb_votes                                                       382.0
Name: 1664, dtype: object

4 - Qual a média de duração dos shows de TV e duração de filmes?

In [14]:
print("media de duração de filme: ", arq[arq['type'] == 'MOVIE']['runtime'].mean()) #arq type seleciona os filmes, acessa runtime, e mean calcula a media

media de duração de filme:  101.53742295274435

In [15]:
print("media de duração de show: ", arq[arq['type'] == 'SHOW']['runtime'].mean()) #arq type seleciona os show, acessa runtime, e mean calcula a media

media de duração de show:  38.63272921108742

5 - Qual o show de TV com maior duração por episódio e o filme com duração mais longa?

In [25]:
print("Filme com maior duração: ", arq.loc[arq[arq['type'] == 'MOVIE']['runtime'].idxmax()])

Filme com maior duração:  index                                                               24
id                                                             tm76557
title                                                   No Longer Kids
type                                                             MOVIE
description          By coincidence, Ahmad discovers that his fathe...
release_year                                                      1979
age_certification                                                  NaN
runtime                                                            235
imdb_id                                                      tt8312792
imdb_score                                                         9.0
imdb_votes                                                       943.0
Name: 24, dtype: object

In [24]:
print("Show com maior duração: ", arq.loc[arq[arq['type'] == 'SHOW']['runtime'].idxmax()])

Show com maior duração:  index                                                             3598
id                                                             ts90995
title                                                             1994
type                                                              SHOW
description          Archival video and new interviews examine Mexi...
release_year                                                      2019
age_certification                                                TV-MA
runtime                                                            178
imdb_id                                                     tt10243640
imdb_score                                                         7.5
imdb_votes                                                       514.0
Name: 3598, dtype: object

6 - Qual ano apresentou a maior quantidade de filmes avaliados com imdb?

7 - Quais as categorias encontradas de age_certification e qual a quantidade de filmes para cada categoria?

8 - Quais colunas apresentam campos vazios? Qual a quantidade de campos vazios?

9 - Gere um gráfico que você considere interessantes para apresentar a média de scores ao longo dos anos para filme e outro para shows.

10 - Gere um gráfico que você considere interessante para apontar a proporção de votantes para shows e filmes.